/* You can add global styles to this file, and also import other style files */

* {
    /* Bitmap font based on the font design from 1980s Namco arcade games */
    font-family: 'Press Start 2P', cursive;
}

.container {
    box-shadow: 5px 10px 18px #888888;
    padding: 15px;
    border-radius: 15px;
    width: 1280px;
    /*center within div*/
    margin: 0 auto;
    background-color: lightblue;
}

.grid {
    width: 600px;
    display: grid;
    grid-template-columns: 360px 200px;
    border: 2px solid black;
    /*center within div*/
    margin: 0 auto;
    padding: 10px;
    border-radius: 15px;
    background-color: #DDD;
}

.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.game-board {
    border: 2px solid grey;
    background-color: white;
}

.play-button {
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    background-color: #4caf50;
    font-size: 16px;
    padding: 15px 30px;
    cursor: pointer;
}

h1 {
    text-align: center;
}

.next {
    border: 1px solid grey;
}